[Unit]
Description=The GitLab Mirrors Trigger Server

[Service]
ExecStart=/usr/bin/nodejs /home/gitmirror/gitlab-mirrors-trigger start /home/gitmirror/.gitlab-mirrors-trigger
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gitlab-mirrors-trigger
User=gitmirror
Group=gitmirror
Environment=LANG=C NODE_ENV=production

[Install]
WantedBy=multi-user.target
